.games-list {
    margin-left: 100px;
    display:flex;  
    width: 50%;
    flex-direction: horizontal;
    justify-content: space-between; 
    align-items: center;

  .list-item {
    margin: 15px;
    outline: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    font-size: 100;
    font-weight: 600;
    text-align: center;

    .img{
        width: 50;
        height: 50;
    }
  }

  .list-item.active {
    outline: solid 3px indianred;
    border-radius: 10px;
  }
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-ele {
    background-color:indianred;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-ele:active {
    outline: solid 3px darkred;
    border-radius: 5px;
}